* {
  background-color: rgb(236, 249, 249);
}

.detail-left,
.detail-right,
span {
  font-weight: 400;
  font-size: 22px;
  margin-left: 20px;
}

.detail-left,
.detail-right,
p {
  font-weight: 400;
  font-size: 23px;
  font-weight: bold;
}
